a

<p>
  <%#= @title %>
</p>
<p>
  <%#= @href %>
</p>
<p>
  <%#= @img %>
</p>
<p>
  <%= @rate_now %>
</p>
<p>
  <%#= @res %>
</p>
<p>
画像：<%= image_tag 'http//www.reuters.wallst.com/reuters/enhancements/chartapi/chart_api.asp?cmb=wsod&ord=16153921472&width=191&height=160&symbol=currency&quoteCurrency=JPY&baseCurrency=USD&showLastClose=0&headerType=quote&primarySymbolDisplay=%E3%83%89%E3%83%AB%2F%E5%86%86&timezoneOffset=780&language=JP&RealTime=1&duration=1&frequency=5minute.png' %>
</p>

http//www.reuters.wallst.com