<p>
  <% @rates.each do |rate| %>
  <%# @logo_list.each do |logo| %>
    <%= rate %><br>
    <%#= image_tag "http://best100.v-tsushin.jp/#{logo}" %><br>
  <% end %>
    <%# @logo_list.each do |logo| %>
    <%#= image_tag "http://best100.v-tsushin.jp/#{logo}" %><br>
  <%# end %>

</p>
count, name, url, logo